body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #F5F5F5;
  color: #00a489;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.createPatientButtonContainer {
  display: flex;
  gap: 50px;
  margin-top: 1.5rem;
}

.card {
  color: #00a489;
  background: #F6F5F5;
  padding: 2rem;
  border: 1px solid #D3E0EA;
  box-shadow: 1px 1px 5px #004a3ee5;
}

.createPatient {
  max-width: 25em;
  width: 100%;
  align-self: center;
}

.createPatientFields {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.errorMsg {
  color: red;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

.login-form {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(0, 153, 158);
}